/*******************************************************
* @author Blank Matunog (https://bitbucket.org/iamkenos/)
********************************************************/

/*******************************************************
* GLOBALS
********************************************************/
* {
    gb-bg-color: #1A1A1A;
    gb-border-color: #404040;
    gb-label-color: #F2F2F2;
    gb-label-hover-color: #B38300;
    gb-label-pressed-color: #664B00;
    gb-label-disabled-color: #404040;
    gb-control-btn-color: #333333;
    gb-control-btn-hover-color: #B38300;
    gb-control-btn-pressed-color: #664B00;
    gb-control-btn-disabled-color: #F2F2F2;
    gb-scroll-thumb-color: #2C2C2C;
}
.root {
    -fx-accent: transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 9.0pt;
}
/*******************************************************
* LABELS
********************************************************/
.label {
    -fx-text-fill: gb-label-color;
}
.label:hover {
    -fx-text-fill: gb-label-hover-color;
}
.label:pressed {
    -fx-text-fill: gb-label-pressed-color;
}
.my-info-label-header {
    -fx-font-size: 7.5pt;
    -fx-font-weight: bold;
    -fx-underline: true;
}
.my-info-label-header:hover {
    -fx-text-fill: gb-label-color;
}
.my-info-labels {
    -fx-font-size: 7.0pt;
}
.my-info-labels:hover {
    -fx-text-fill: gb-label-color;
}
/*******************************************************
* MENU BAR & ITEMS
********************************************************/
.menu-bar {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-pref-height: 25;
}
.menu {
    -fx-pref-height: 25;
}
.menu-item {
    -fx-pref-height: 25;
    -fx-pref-width: 115;
    -fx-font-weight: normal;
}
.menu-item:focused .label {
    -fx-text-fill: gb-label-hover-color;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: gb-bg-color;
    -fx-border-color: gb-border-color;
    -fx-padding: 0
}
/*******************************************************
* BUTTONS
********************************************************/
.button {
    -fx-text-fill: gb-label-color;
    -fx-background-color: gb-control-btn-color;
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0.0;
}
.button:hover {
    -fx-background-color: gb-control-btn-hover-color;
}
.button:pressed {
    -fx-background-color: gb-control-btn-pressed-color;
}
.button:disabled {
    -fx-background-color: gb-control-btn-disabled-color;
    -fx-text-fill: gb-label-disabled-color;
}
.my-control-button {
    -fx-pref-height: 25;
    -fx-pref-width: 100;
    -fx-font-weight: bold;
}
.my-window-button {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}
.my-window-button:hover {
    -fx-text-fill: gb-label-hover-color;
    -fx-background-color: transparent;
}
.my-window-button:pressed {
    -fx-text-fill: gb-label-hover-color;
    -fx-background-color: transparent;
}
/*******************************************************
* CONTAINERS - BORDER PANE
********************************************************/
.my-layout {
    -fx-background-color: gb-bg-color;
    -fx-border-color: gb-border-color;
    -fx-border-width: 1;
}
/*******************************************************
* CONTAINERS - WINDOW
********************************************************/
.my-pane {
    -fx-background-color: gb-bg-color;
    -fx-border-color: gb-bg-color;
    -fx-border-width: 0;
}
/*******************************************************
* CONTAINERS - SUB ANCHOR PANE
********************************************************/
.my-sub-pane {
    -fx-background-color: gb-bg-color;
    -fx-border-color: gb-border-color;
    -fx-border-width: 1;
}
/*******************************************************
* CONTAINERS - DIALOG
********************************************************/
.my-dialog {
    -fx-background-color: gb-bg-color;
    -fx-border-color: gb-border-color;
    -fx-border-width: 1;
}
.my-dialog-header {
    -fx-font-weight: bold;
    -fx-underline: true;
}
/*******************************************************
* TABLE
********************************************************/
.table-view {
    -fx-base: gb-bg-color;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-font-family: "Consolas";
    -fx-font-size: 8.5pt;
}
.table-view .column-header .label:hover {
    -fx-text-fill: gb-label-color;
}
.table-view .column-header-background {
    -fx-background-color: gb-bg-color;
}
.table-view .column-header,
.table-view .filler {
    -fx-pref-height: 20;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.my-tbl-column-status {
    -fx-padding: 0 0 0 10;
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
}
.my-tbl-column-status .label {
    -fx-alignment: CENTER-LEFT;
}
.my-tbl-column-name .label {
    -fx-alignment: CENTER-LEFT;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: gb-label-color;
}
.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}
/*******************************************************
* TABLE SCROLLS
********************************************************/
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-view .scroll-bar:horizontal {
    -fx-border-width: 1 0 0 0;
}
.table-view .scroll-bar:vertical {
    -fx-border-width: 0 0 0 1;
}
.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: transparent;
}
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}
.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}
.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: gb-scroll-thumb-color;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
}
/*******************************************************
* TEXT FIELD
********************************************************/
.text-field {
    -fx-text-fill: gb-label-hover-color;
    -fx-background-color: gb-bg-color;
    -fx-accent: gb-border-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-pref-height: 25;
}
.my-text-field {
    -fx-border-color: gb-border-color;
    -fx-border-width: 1;
    -fx-prompt-text-fill: gb-border-color;
    -fx-prompt-text-fill: gb-border-color;
}
/*******************************************************
* COMBO BOX
********************************************************/
.check-box > .box {
    -fx-background-color: gb-bg-color;
}
.check-box .mark {
    -fx-pref-height: 5;
    -fx-pref-width: 5;
    -fx-shape: "M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z";
    -fx-background-color: gb-control-btn-disabled-color;
}
.check-box:selected .mark {
    -fx-shape: "M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173 c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752 c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z";
    -fx-background-color: gb-control-btn-hover-color;
}
/*******************************************************
* COMBO BOX
********************************************************/
.combo-box-base {
    -fx-text-fill: gb-label-color;
    -fx-background-color: gb-bg-color, gb-border-color, gb-bg-color, gb-bg-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0;
    -fx-pref-width: 135;
    -fx-pref-height: 25;
}
.combo-box .cell {
    -fx-text-fill: gb-label-color;
}
.combo-box-base:disabled {
    -fx-opacity: 0.8;
    -fx-background-color: gb-control-btn-disabled-color, gb-label-disabled-color, gb-control-btn-disabled-color, gb-control-btn-disabled-color;
}
.combo-box-popup {
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0), 1, 0.0, 0, 0);
}
.combo-box-popup .list-view {
    -fx-background-color: gb-bg-color;
    -fx-background: gb-bg-color;
    -fx-border-color: gb-border-color;
    -fx-border-width: 1;
}
.combo-box-popup .list-view .list-cell {
    -fx-text-fill: gb-label-color;
    -fx-background-color: gb-bg-color;
    -fx-pref-height: 25;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: gb-label-hover-color;
    -fx-background-color: gb-border-color;
}
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-text-fill: gb-label-pressed-color;
}
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-text-fill: gb-label-pressed-color;
}